<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de Productos</title>
</head>
</head>
<body>
    <h1>Crear Producto</h1>
    <form method="POST" action="/products/create">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required><br><br>
        
        <label for="description">Descripción:</label>
        <input type="text" id="description" name="description" required><br><br>
        
        <label for="photo">Foto:</label>
        <input type="text" id="photo" name="photo" required><br><br>
        
        <label for="price">Precio:</label>
        <input type="text" id="price" name="price" required><br><br>
        
        <input type="submit" value="Crear">
    </form>
</body>
</html>





