<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
</head>
</head>
<body>
    <h1>Detalles del Producto</h1>
    <p><strong>ID:</strong> {{ product[0] }}</p>
    <p><strong>Título:</strong> {{ product[1] }}</p>
    <p><strong>Descripción:</strong> {{ product[2] }}</p>
    <p><strong>Foto:</strong> {{ product[3] }}</p>
    <p><strong>Precio:</strong> {{ product[4] }}</p>
    <a href="/products/list">Volver a la lista de productos</a>
</body>
</html>





